.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;/*
    left: -100vw;*/
}

.sidebar.open {
    /*left: 0;
    background-color: #c9e5ff;*/
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;

    width: 100vw;
    height: 100vh;
    background-color: #c9e5ff;
}

.nav {
}

.nav a {
}

.nav a:hover {
}

.nav a.active {
}
.close {
}

.close img {
}
